<h1 class="welcome_home">Hey Orasi!</h1>

<p class="orasi_welcome">This is a little Rails CRUD application that I put together for this interview. This application allows the user to store books that he or she may have read, it also allows for the input of an author and in my case the programming language that the book covered.</p>